RewriteEngine On

#	Display default icon if none found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond	%{REQUEST_URI} /img/vicons/32x32px/.+_green.png
RewriteRule ^.*$ img/vicons/32x32px/substitute_green.png [L]
RewriteCond	%{REQUEST_URI} /img/vicons/32x32px/.+_red.png
RewriteRule ^.*$ img/vicons/32x32px/substitute_red.png [L]

RewriteCond %{HTTP_HOST} ^vreasy\. [NC]
RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{HTTP_HOST} !^www\.vreasy\.com$ [NC]
RewriteCond %{REQUEST_URI} /robots.txt [NC]
RewriteRule (.*) /robots.off.txt [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# Enable PHP short open tags:
# php_flag short_open_tag on
